{
  "appId":"4A11CB7091355",
  	"appKey":"4A11CB7091355_ANDROID",
  	"base64Code":"",
  	"packageName":"com.pactera.nci.innertest",
  	"rootPath":"mpaas/android/4A11CB7091355-dev",
  	"workspaceId":"dev",
  	"rpcGW":"https://ntmpaas.newchinalife.com:10000/mgw.htm",
  	"mpaasapi":"https://ntmpaas.newchinalife.com:10000/mgw.htm",
  	"pushPort":"10003",
  	"pushGW":"ntmpaas.newchinalife.com",
  	"logGW":"https://ntmpaas.newchinalife.com:10002",
  	"syncport":"10004",
  	"syncserver":"ntmpaas.newchinalife.com"
  }
